<script type="text/template" id="singleView-template">
<h3 class="title">{{title}}</h3>
<div class="info">
<span class="date">{{createDt}}</span>
<span class="author">{{author}}</span>
<span class="view">{{clickNum}}</span>
</div>
{{contentHtml}}
</script>

<script type="text/javascript" src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=3725229042" charset="utf-8"></script>

<script type="text/javascript">
$(function(){
	var rootUrl = "";
	var pathname = window.location.pathname;
	var paths = pathname.replace(rootUrl, "").split("/", -1);
	var singleView = function(artId){
		$.get(rootUrl+"/service/article/view/"+artId,null,
				function(resp){
			console.log(resp);
			var el = $(".single");
			$(el).empty();
			var artTmp=_.template($("#singleView-template").html());
			var art=resp[0];
			$(el).append(artTmp({
				artId: art.ART_ID,
				title: art.ART_TITLE,
				contentHtml: art.ART_CONTENT_HTML,
				author: art.ART_AUTHOR,
				clickNum: art.ART_CLICK_NUM,
				createDt: $.format.date(new Date(art.ART_CREATE_DT), 'yyyy-MM-dd')
			}));
		});
	};
	switch(paths.length){
	case 3:
		var artId = paths[2];
		singleView(artId);
		break;
	default:
		break;
	}
	$(".comment").html('<wb:comments url="auto" width="auto" appkey="3725229042" ralateuid="3093895670" />');
});
</script>

<div class="primary col-md-8 col-sm-12 col-xs-12">
<section class="section">
	<div class="section-inner">
		<div class="single">
		</div>
		<div class="pager">
			<div class="article-link">
				<span>上一篇</span>
				<a>阿里云服务器选型</a>
			</div>
			<div class="clear"></div>
			<div class="article-link">
				<span>下一篇</span>
				<a>Web应用的缓存设计模式</a>
			</div>
		</div>
		<div class="comment">
		</div>
	</div>
</section><!--//section-->
</div><!--//primary-->

<div class="secondary col-md-4 col-sm-12 col-xs-12">
	<aside class="section">
		<div class="section-inner">
			<h3 class="section-heading">关注我</h3>
			<div class="content">
				<img style="width:100%;" src="http://www.yangqq.com/web/410/images/ad300x100.jpg"></img>
			</div><!--//content-->
		</div><!--//section-inner-->
	</aside><!--//aside-->
	<aside class="section">
		<div class="section-inner">
			<h3 class="section-heading">标签分类</h3>
			<div class="content">
				<ul class="tag-list">
					<li><a href="/">个人博客</a></li>
					<li><a href="/">web开发</a></li>
					<li><a href="/">前端设计</a></li>
					<li><a href="/">Html</a></li>
					<li><a href="/">CSS3</a></li>
					<li><a href="/">Html5+css3</a></li>
					<li><a href="/">百度</a></li>
					<li><a href="/">Javasript</a></li>
					<li><a href="/">web开发</a></li>
					<li><a href="/">前端设计</a></li>
					<li><a href="/">Html</a></li>
					<li><a href="/">CSS3</a></li>
					<li><a href="/">Html5+css3</a></li>
					<li><a href="/">百度</a></li>
				</ul>
				<div class="clear"></div>
			</div><!--//content-->
		</div><!--//section-inner-->
	</aside><!--//aside-->
	<aside class="section">
		<div class="section-inner">
			<h3 class="section-heading lastest-head">相关文章</h3>
			<div class="content">
				<ul class="rank-list">
					<li><a href="/" target="_blank">阿里云服务器选型</a></li>
					<li><a href="/" target="_blank">数据库查询优化</a></li>
					<li><a href="/" target="_blank">Web应用的缓存设计模式</a></li>
					<li><a href="/" target="_blank">建立学习型组织</a></li>
					<li><a href="/" target="_blank">Java面试题解析</a></li>
					<li><a href="/" target="_blank">JVM内存模型</a></li>
				</ul>
			</div><!--//content-->
		</div><!--//section-inner-->
	</aside><!--//aside-->
</div><!--//secondary-->
</html>
