
<div class="primary col-md-8 col-sm-12 col-xs-12">
	<section class="section">
		<div class="section-inner">
		<h3 class="section-heading">关于我</h3>
		<div class="content">
		<p>沙堂堂，90年生人，11年毕业于苏州大学数学系，上学期间写了几个小程序，并开始对编程感兴趣，从此踏上了码农的不归路。</p>
		<p>个人非常喜欢三国，高晓松的演讲，汪峰的音乐，以及梦想中的骑行之旅。当然最最喜欢的莫过于My Baby，最最重要的莫过于看着他一点点长大。</p>
		<p>出了校门，过了两年暗流涌动，胸怀天下的日子，又过了两年不思进取，逆水行舟的日子。在看过了互联网各路大神的履历之后，感觉身为码农，就该干些改变世界的事。如今的BAT犹如当年的三国，还有诸多创业公司，一个个纷争割据不断，毕竟时间之轮永不停息，当年的巨无霸也会倒下，当今的码农甲也能创造奇迹。仿佛又回到三国，我在这个英雄辈出的时代，可是这个时代却没有我。遂揭竿而起，自立门户。</p>
		</div><!--//content-->
		</div><!--//section-inner-->                 
	</section><!--//section-->
</div><!--//primary-->

<div class="secondary col-md-4 col-sm-12 col-xs-12">
	<aside class="info aside section">
		<div class="section-inner">
			<h2 class="heading sr-only">基本信息</h2>
			<div class="content">
				<ul class="list-unstyled">
				<li><i class="fa fa-map-marker"></i><span class="sr-only">籍贯:</span>江苏南通</li>
				<li><i class="fa fa-envelope-o"></i><span class="sr-only">邮箱:</span><a href="#">stang003@163.com</a></li>
				<li><i class="fa fa-link"></i><span class="sr-only">个人博客:</span><a href="#">http://www.stangtang.com</a></li>
				</ul>
			</div><!--//content-->
		</div><!--//section-inner-->
	</aside><!--//aside-->
</div><!--//secondary-->
