<!-- ******FOOTER****** -->
<footer>
	<div class="container text-center">
		<small class="copyright">©2015 <a href="http://www.stangtang.com">芝麻加糖</a><!--  | Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a>  -->&lt;备案号&gt;</small>
	</div>
	<!--//container-->
</footer>
<!--//footer-->
