<title>芝麻加糖</title>
<meta charset="UTF-8">
<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="芝麻加糖的个人博客" />
<meta name="author" content="沙堂堂" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="${pageContext.request.contextPath}/webresource/images/stangtang.ico" />

<link rel="stylesheet" type="text/css" href="${pageContext.request.contextPath}/webresource/plugins/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="${pageContext.request.contextPath}/webresource/plugins/font-awesome/css/font-awesome.css"/>
<!--
<link rel="stylesheet" type="text/css" href="${pageContext.request.contextPath}/webresource/plugins/github-activity/dist/github-activity-0.1.0.min.css"/>
<link rel="stylesheet" type="text/css" href="${pageContext.request.contextPath}/webresource/plugins/github-activity/dist/octicons/octicons.min.css"/>
-->
<link rel="stylesheet" type="text/css" href="${pageContext.request.contextPath}/webresource/css/zhima.main.css"/>

<script type="text/javascript">
window.rootUrl = "${pageContext.request.contextPath}";
</script>

<script type="text/javascript" src="${pageContext.request.contextPath}/webresource/plugins/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="${pageContext.request.contextPath}/webresource/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="${pageContext.request.contextPath}/webresource/plugins/bootstrap/js/bootstrap.min.js"></script>
<%--
<script type="text/javascript" src="${pageContext.request.contextPath}/webresource/plugins/jquery-rss/dist/jquery.rss.min.js"></script>
<script type="text/javascript" src="${pageContext.request.contextPath}/webresource/plugins/github-activity/dist/mustache/mustache.min.js"></script>
<script type="text/javascript" src="${pageContext.request.contextPath}/webresource/plugins/github-activity/dist/github-activity-0.1.0.min.js"></script>
--%>
<script type="text/javascript" src="${pageContext.request.contextPath}/webresource/plugins/jquery-dateFormat.min.js"></script>
<script type="text/javascript" src="${pageContext.request.contextPath}/webresource/plugins/underscore/underscore-1.6.0.min.js"></script>
<%--
<script type="text/javascript" src="${pageContext.request.contextPath}/webresource/plugins/masonry/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="${pageContext.request.contextPath}/webresource/plugins/masonry/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="${pageContext.request.contextPath}/webresource/js/main.js"></script>
--%>
<script type="text/javascript" src="${pageContext.request.contextPath}/webresource/js/zhima.main.js"></script>
<script type="text/javascript" src="${pageContext.request.contextPath}/webresource/js/zhima.setup.js"></script>
<script type="text/javascript" src="${pageContext.request.contextPath}/webresource/js/zhima.pager.js"></script>

